{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "target": "es3",
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    }
  },
  "module": {
    "type": "commonjs",
    "noInterop": false
  },
  "sourceMaps": false,
  "inlineSourcesContent": false,
  "minify": false,
  "env": {
    "targets": {
      "node": "16"
    }
  }
}